.header-css{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  background-color: antiquewhite;
 }
 .header-sub{
  display: flex;
  justify-content: space-between;
  height: 70px;
 }
 .right-section{
  display: flex;
 }